.wrapper {
    border-radius: 10px 10px 0 0;
    width: 90%;
    margin: 10px auto;
    box-shadow: 0 0 10px 0 rgb(160, 23, 8);
}


/* header*/

.header {
    background-color: rgb(18, 32, 32);
    border-radius: 10px 10px 0 0;
    color: #fff;
}

.header a {
    color: rgb(146, 145, 145);
    transition: all 0.5s linear;
}

.topinfo {
    border-bottom: 1px solid #154f61;

    justify-content: space-between;

}



.accountlink {
    display: block;
    padding: 5px 12px;
    font-size: 25px;


}

.accountlink>i {
    padding-left: 5px;
    vertical-align: middle;
}

.accountlink:hover {
    color: #fff;
}

.language {
    padding: 3px 0 0 10px;
    font-size: 25px;
}

.fa-icon {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.header-info {
    border-bottom: 1px solid #154f61;
    padding: 20px;
}

.searchbox {
    flex-grow: 1;
    height: 40px;
    justify-content: center;
}

.search-select {
    border: none;
    padding: 8px 15px;
    border-radius: 0 15px 15px 0;
}

.search-input {
    border: none;
    padding: 8px 15px;
}


.search-link {
    background-color: rgb(221, 141, 36);
    padding: 10px 14px;
    color: #fff !important;
    border-radius: 20px 0 0 20px;
}


.contactus {
    margin: 0 2em;
    font-size: 0.8em;
}

.m-icon {
    font-size: 2.5em;
    margin: 0 .4em;

}

.mm-icon {
    padding: 5px;
    background-color: rgb(221, 141, 36);
    vertical-align: middle;
    border-radius: 20px;
}

.cart {
    font-size: 0.8em;

}

.topnav {
    position: relative;
}

.hothot::before {
    content: '';
    position: absolute;
    background-image: url(/picture/222.png);
    width: 35px;
    height: 22px;
    top: -13px;
    right: 30%;
}

.topnavitem {
    font-size: 25px;
}

.topnavlink {
    display: block;
    padding: 15px 15px;
    font-size: .9em;
    position: relative;
}

.topnavlink:hover {
    color: rgb(255, 255, 255);
}

.topnavitem:hover>.submenu {
    display: block;
}

.submenu {

    display: none;
    width: 100%;
    height: 200px;
    background-color: rgb(204, 121, 13);
    position: absolute;
    top: 100%;
    right: 0;

}

.submenummm {
    width: 100%;
    height: 100%;
    position: relative;
}

.submenuul {
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.submenuitem {
    width: 25%;
}

.submenuimage1 {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
}

/*main*/
.main {
    background-color: #fff;
}

.slider {
    height: 500px;
    padding: 10px;
}

.r-ads {
    width: 25%;
    margin-left: 10px;
}

.l-ads {
    flex-grow: 1;
}

.r-ads img,
.l-ads img {
    width: 100%;
    height: 100%;
}

.topproducte {
    background-color: rgb(228, 227, 227);
}

.topproductitem {

    flex-grow: 1;
    padding: 10px;
    justify-content: center;
}

.topproduct-image img {
    border-radius: 50%;
    padding-left: 15px;
}

.topproduct-info {
    align-self: center;
}

.ts-detail {
    flex-grow: 2;
    border: 1px solid #ddd;
    margin: 10px;
    width: 40%;
}

.ts-list {
    flex-grow: 3;
    width: 60%;
}

.ts-productlist {
    flex-wrap: wrap;
}

.ts-productitem {
    width: 33%;
    flex-grow: 1;
}

.ts-productitemdetails {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
}

.ts-productimg {
    width: 100%;
}

.ts-productlink {
    color: rgb(0, 0, 0);
    display: block;

}

.ts-productlink:hover {
    color: rgb(148, 85, 3);

}

.price-ts {
    color: rgb(160, 23, 8);
}

.btn-ts {
    margin: 10px 0;
}

.ts-product-kif {
    position: relative;

}

.ts-product-kif2 {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: all 1s linear;
}

.ts-productitemdetails:hover .ts-product-kif2 {
    top: 0;
    opacity: 1;
}

.ts-productitemdetails:hover .btn-ts1 {
    top: 50%;
    opacity: 1;
}

.ts-productitemdetails .btn-ts1 {
    position: absolute;
    top: -100%;
    right: 20%;
    width: 60%;
    opacity: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px
}

.ts-product-sample-img {
    margin-top: 20px;
    margin-right: -10px;

}

.ts-product-imgg {
    margin: 10px;
    border: 1px solid #ddd;
}

.banner {
    padding: 10px;
}

.banner1 {
    width: 100%;
    height: 200px;
    display: block;
}

.new-pro {
    width: 25%;
}

.new-pro-h4 {
    font-size: 20px;
    margin: 10px;
    border-bottom: 3px solid #ec0b0b;
}

.collectionitem
{
    width: 20%;
    flex-grow: 1;
    margin: 10px;
    border-bottom: 5px solid rgb(167, 91, 104);
}

.collectiondetale
{
    background-color: rgb(110, 0, 68);
    border: 4px solid transparent;
}
.collectiondetale:hover{
    border-color: rgb(167, 91, 104);
    background-color: rgb(121, 4, 23);
}

.colectionlink
{
    display: block;

    position: relative;
    
}
.collection-span
{
    position: absolute;
    top: 20px;
    right: 0;
    display: block;
    text-align: center;
    font-weight: bold;
    width: 100%;
    color: antiquewhite;
}
.right1
{
    right: 30px;
}